.info {
  position: relative;
  width: 100%;
  padding: 5px;
  transform: translateX(-150%);
  transition: transform .3s ease-out;
}

.info__title {
  margin: 0;
}


.info_active {
  transform: translateX(0);
}
