.flat__owner {
  width: 100%;
  padding: 5px;
  transform: translateX(150%);
  transition: transform .3s ease-out;
}

.owner__title {
  margin: 0;
}

.flat__owner_active {
  transform: translateX(-100%);
}
